<section id="shopify-section-{{ section.id }}">
<div class="banner-section">
      <h1>I am a headline made with HTML</h1>
      <p>And I am a simple text paragraph. The color of this text is styled with CSS. Click the button below to remove me through the power JavaScript.</p>
      <button>Hello</button>
</div>
</section>

{% schema %}
  {
    "name": "Banner Image Section",
    "settings": [],
     "presets": [
      {
        "name": "Banner Image Section"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}