<div id="byob-empty-state-hint" class="page-width">
Please add the app blocks <a href="https://support.ilovebyob.com/article/220-how-can-i-install-byob-3-mins" target="_blank" style="text-decoration: underline;">
following this guide</a>. Otherwise, the bundle page cannot be rendered. <br><br>
</div>
{% schema %}
  {
    "name": "BYOB Empty State Hint",
    "settings": [{
         "type": "paragraph",
         "content": "Remove this section if you've intsalled the BYOB app blocks"
    }],
   "presets": [
    {
      "name": "BYOB Empty State Hint"
    }
  ]
  }
{% endschema %}
